.container-fluid {
    position: relative;
    text-align: center;
    color: white;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  body {
    padding-top: 70px;
  }

  .card-body {
    padding: 10px;
    text-align: center;

  }

  .text-block {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    color: white;
    padding-left: 2px;
    padding-right: 2px;

  }
  h1{
    text-align: center;
  }

  h6 {
    margin-bottom: 0rem;
  }


  footer{
    background-color: #2C3E50 ;
    color: white;
  }
